<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Venta de producto</title>
		  <link href="css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		 <div class="container">
	    <div class="row justify-content-center">
	       <div class="col-md-6">
	        <div class="card mt-2">
	          <div class="card-body">
	            <h1 class="text-center">Agregar producto</h1>
	            <form th:action="@{/formProducto}" th:object="${producto}" method="post"> 
	              <div class="form-group">
	                <label for="nombre" class="mb-1">Nombre del producto</label>
	                <input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre">
	                <small th:errors="*{nombre}" style="color: #FF0000"></small>
	              </div>
	              <div class="form-group">
	                <label for="descripcion" class="mb-1">Descripcion</label>
	                <input type="text" class="form-control" th:field="*{descripcion}" id="descripcion" name="descripcion">
	                <small th:errors="*{descripcion}" style="color: #FF0000"></small>              
	              </div>
	              <div class="form-group">
	                <label for="precio" class="mb-1">Precio del producto</label>
	                <input type="number" class="form-control" th:field="*{precio}" id="precio" name="precio">
	                <small th:errors="*{precio}" style="color: #FF0000"></small>  
	              </div>
	              <div class="form-group">
	                <label for="vencimiento" >Fecha de vencimiento del producto</label>
	                <input type="text" class="form-control" th:field="*{vencimiento}" id="vencimiento" name="vencimiento">
	                <small th:errors="*{vencimiento}" style="color: #FF0000"></small> 
	              </div>
	              <button type="submit" class="btn btn-primary float-right">Agregar producto</button>
	            </form>
	          </div>
	       </div>
	      </div>
	    </div>
	  </div>
	  <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
	</body>
</html>